*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  width: 100%;
  min-height: 100vh;
}
header {
  width: 100%;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  color: white;
  background-color: transparent;
  border-bottom: 0.4px solid whitesmoke;
}
header h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
}
.main {
  margin-top: 1rem;
  padding: 0 50px;
}

.board {
  background-color: #e3e4e5;
  border: 1px solid grey;
  border-radius: .30rem;
  padding: 1.2rem;
  min-height:10rem;
  text-transform: capitalize;
}
.MuiCard-root{
  margin: 0.9rem 0;
}
.isDragging{
  background-color: rgb(243, 243, 243);
}
.button {
  background-color: rgba(255, 255, 255, 0.199);
  color: white;
  outline: 0;
  border: none;
}
.button:hover{
  background-color: rgba(255, 255, 255, 0.373);
  outline: 0;
  border: none;
}
.img {
  margin: 1rem auto;
}
.box-color {
  padding: 10px;
}
.color {
  padding:50px 30px;
  border-radius: .40rem;
  cursor: pointer;
}
.color:hover {
  opacity: 0.9;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.divider {
  margin: .7rem 0;
}

.input-file {
  display: block;
  margin: .7rem 0;
}